<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	
	<h1>Lisää momentti: </h1>
		<form th:object="${subsecform}" th:action="@{/savesubsection}" action="#" method="post">
			<div>
				<input th:value="*{secDbId}" th:field="*{secDbId}"/> 
				<input type="text" th:field="*{position}" class="form-control"/>
				<label> Tekstisisältö: <input type="text" th:field="*{textContent}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('textContent')}" th:errors="*{textContent}">Ei noin!</p>	
			</div>
			<input type="submit" class="btn btn-primary" value="Lisää momentti"></input>		
		</form>	
</body>
</html>