<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Säädökset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    #saados{
    font-size: 20px;
    width: 70%;
    background-color: DarkOrchid;
    color: white;
    }
    #tunnus{
    position: relative;
    float: right;
    }
    #saadoslaskuri{
    float:right;
    background-color: OldLace;
    width: 200px;
    }
    #statuteCount{
    size: 10px;
    margin-top: 17px;
    margin-right: 15px;
    float:right;
    }
    #viiva{
    background-color: black;
    height: 1px;
    width: 100%;
    }
    </style>
    
    	
 
</head>
<body>
<h1>SÄÄDÖKSET:</h1>
<div id=saadoslaskuri>
<p style="float:left">Säädöksiä tietokannassa:</p>
<div id=statuteCount></div> 
</div>

<tr th:each="statute:${statutes}">
			<br><br>
			<div id=saados>
			<td th:text="${statute.fullName}"></td>
			</div>
			<div id=tunnus>
			<td th:text="${statute.statuteId}"></td>
			</div>
			<td><a th:href="@{/muokkaamain/{statid}(statid=${statute.statDbId})}">Muokkaa</a></td>
			<td sec:authorize='hasAuthority("ADMIN")'><a th:href="@{/delete/statute/{statdbid}(statdbid=*{statute.statDbId})}">Poista</a></td>
			<div id=viiva></div>
			
	</tr>
	<br><br><br>
<a href="/uusisaados" class="btn btn-success">Uusi säädös</a>


<!--
<p id="pathname"></p>
<p id="url"></p>
<p id="origin"></p>
-->


<!-- Getting jQuery script from an external source. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
/*
var pathname = window.location.pathname; // Returns path only (/path/example.html)
var url      = window.location.href;     // Returns full URL (https://example.com/path/example.html)
var origin   = window.location.origin;   // Returns base URL (https://example.com)
document.getElementById("pathname").innerHTML = "pathname: " + pathname;
document.getElementById("url").innerHTML = "url: " + url;
document.getElementById("origin").innerHTML = "orgin: " + origin;
*/


//Real time statute counter using AJAX

$(document).ready(function(){
	setInterval(function() {
		$.ajax({ 
			
		    type: 'GET', 
		    url: '/api/saadokset',  
		    dataType: 'json',
		    success: function (data) { 
				var count = 0;
		        $.each(data, function(index, element) {
		        	count += 1;
		        	document.getElementById("statuteCount").innerHTML = count;   
		        });
		    }
		});
	}, 5000); 
	});


</script>


</body>
</html>