<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Uusi pykälä:</h1>
		<form th:object="${sectionform}" th:action="@{/savesection}" action="#" method="post">
			<div>
				 <input  th:value="${statDbId}" th:field="${statDbId}"/> 
				<label> Otsikko: <input type="text" th:field="*{heading}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('heading')}" th:errors="*{heading}">Virhe pykälän otsikossa</p>	
			</div>
			<div>
				<label>Pykälän tunnus: <input type="text" th:field="*{identifier}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}">email Error</p>	
			</div>
			<input type="submit" class="btn btn-primary" value="Lisää pykälä"></input>		
		</form>
</body>
</html>